.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
}

.item {
    width: 70%;
    height: 50%;
    min-width: 400px;
    min-height: 330px;
    margin: 20px;
}

.example-card {
    width: 100%;
    height: 100%;
    text-align:center;
}

img {
    width: 90%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


