<div class="navbar-container">
    <mat-toolbar color="accent">
        <div fxShow="true" fxHide.lt-md fxFlex fxLayout>
            <div fxFlex fxLayoutAlign="flex-end center">
                <button mat-button type="submit">Logout</button>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="main-container">
    <div class="row">
        <div class="item">
            <mat-card class="example-card">
              <canvas style="z-index: 5; flex-shrink:0;" width="480" height="400" #canvas ></canvas>
                <!-- <img mat-card-image [src]=imageURL> -->
                <mat-card-actions>
                    <button (click)="makePhotoMonochrome()" mat-button>Monochrome</button>
                    <button (click)="makeFog()" mat-button>FOG</button>
                    <button (click)="invertColours()" mat-button>Invert Colours</button>
                    <button (click)="downloadCanvasAsImage()" mat-button>SAVE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<canvas [hidden]="true" #canvasFHD width="2500" height="4500"></canvas>
