<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="accent">Sign Up!</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProces()">
      <mat-form-field color="accent">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>

      <button mat-button type="submit" color="accent">Login</button>
      <br>

      <a href="/register">Dont you have account? Register here.</a>
    </form>
  </mat-card>
</div>