.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
}

.item {
    width: 400px;
    height: 330px;
}

.example-card {
    width: 100%;
    height: 100%x;
}

img {
    width: 376px;
    height: 250px;
}




