<div class="navbar-container">
    <mat-toolbar color="accent">
        <div fxShow="true" fxHide.lt-md fxFlex fxLayout>
            <div fxFlex>

                <input type="file" id="file" multiple  (change)="onFileChanged($event)" >
            </div>
            <button mat-button type="submit" (click)="onUpload()">Add Image</button>
            <div fxFlex fxLayoutAlign="flex-end center">
                <button mat-button type="submit" (click)="logout()">Logout</button>
            </div>
        </div>
    </mat-toolbar>
</div>
<div class="main-container">
    <div class="row">
        <div class="item" *ngFor="let image of images;let i = index">
            <mat-card class="example-card">
                <img mat-card-image src={{image.url}} alt="Photo of a Shiba Inu">
                <mat-card-actions>
                    <button mat-button (click)="redirectToEditor(i)">EDIT</button>
                    <button mat-button (click)="deleteImage(i)"> DELETE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>