<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="accent">Register!</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="register-form" [formGroup]="registerFormGroup" (ngSubmit)="registerProces()">
      <mat-form-field color="accent">
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput type="password" placeholder="Repeat Password">
      </mat-form-field>

      <button mat-button type="submit" color="accent">Register</button>
      <br>
      <a href="/login">Do you have account? Sign up here.</a>
    </form>
  </mat-card>
</div>
